.album-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 16px;
}
.album {
  font-size: 0.7rem;
  width: 100%;
}

.album__info {
  display: flex;
  justify-content: space-between;
  color: #c1c0c0;
}
.album__title {
  font-weight: 500;
  padding: 0.5rem 0;
  color: #eeeeee;
  display: flex;
  justify-content: space-between;
}
